*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #000;
}
nav{
    height: 8vh;
    padding: 0 1vw;
    background-color: #000;
    justify-content: space-between;
}
.searchBar{
    height: 6vh;
    width: 25vw;
    padding-left: 10px;
    border-radius: 5vh;
    background-color: #2A2A2A;
}
.searchBar input{
    height: 80%;
    width: 90%;
    padding: 0 1vw;
    margin-left: 5px;
    font-size: 15px;
    border: none;
    background-color: transparent;
    color: #fff;
}
.first{
    gap: 1.5vw;
}
.second{
    gap: 1.2vw;
}
.second > a,h1{
    font-size: 18px;
    text-decoration: none;
    color: rgb(199, 199, 199);
}
.second > button{
    font-size: 14px;
}
#signUp{
    border: none;
    background-color: transparent;
    color: rgb(199, 199, 199);
}
#logIn{
    padding: 1vw 2vw;
    border: none;
    border-radius: 2vw;
}
#install{
    justify-content: center;
}
.main{
    height: calc(100% - 17vh);
    width: 100%;
    justify-content: space-evenly;
}
.left{
    height: 100%;
    width: 27.5%;
    padding: 1.8vw;
    color: white;
    background-color: #2A2A2A;
    border-radius: 8px;
}
.sCard{
    padding: 0.7vw;
    gap: 1vw;
    margin-top: 1vw;
    position: relative;
}
.sCard:hover{
    background-color: rgba(128, 128, 128, 0.218);
}
.sCard #more{
    position: absolute;
    right: 1vw;
}
.sCard #like{
    position: absolute;
    right: 3vw;
}
.right{
    height: 100%;
    width: 71%;
    color: white;
    padding: 2vw;
    background-color: #2A2A2A;
    border-radius: 8px;
}
.trendingSongs{
    gap: 1vw;
    margin: 1vw 0;
    overflow-x: scroll;
}
.trendingSongs::-webkit-scrollbar{
    color: transparent;
}
.card{
    min-width: 12vw;
    padding: 10px;
    border-radius: 8px;
}
.card:hover{
    background-color: rgba(128, 128, 128, 0.218);
}
.card h3{
    font-weight: 200;
    line-height: 1.3;
}
#song{
    font-size: 20px;
}
#artists{
    font-size: 16px;
}
.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}
.popularArtists{
    gap: 2vw;
    margin: 1vw 0;
    overflow-x: scroll;
}
.artist{
    height: 13vw;
    text-align: center;
}
.artist:hover{
    background-color: rgba(128, 128, 128, 0.218);
}
.artist img{
    height: 11vw;
    min-width: 11vw;
    object-fit: cover;
    border-radius: 50%;
}
.popularArtists::-webkit-scrollbar{
    color: transparent;
}
.bottom{
    height: 9vh;
    justify-content: space-between;
    padding: 0 2vw;
    background-color: rgb(65, 137, 225);
}
.currentlyPlaying{
    width: 30vw;
    padding: 0.8vw 1.5vw;
    gap: 1vw;
    position: relative;
}
.currentlyPlaying:hover{
    background-color: rgba(128, 128, 128, 0.218);
}
.currentlyPlaying .dets{
    margin-left: 1vw;
}
.currentlyPlaying #like{
    position: absolute;
    right: 4vw;
}
.currentlyPlaying #more{
    position: absolute;
    right: 1.5vw;
}
#pause{
    font-size: 40px;
}
.controls,
.player{
    gap: 1.5vw;
}